body {
    background: linear-gradient(lightblue, lightgreen, green);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px; 
}

.box button {
    width: 120px;
    background-color: darkblue;
    color: white;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

